@font-face {
  font-family: 'SF Fedora Symbols';
  src: url('fonts/SFFedoraSymbols.eot');
  src: local('SF Fedora Symbols'), local('SFFedoraSymbols'),
      url('fonts/SFFedoraSymbols.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraSymbols.woff2') format('woff2'),
      url('fonts/SFFedoraSymbols.woff') format('woff'),
      url('fonts/SFFedoraSymbols.ttf') format('truetype'),
      url('fonts/SFFedoraSymbols.svg#SFFedoraSymbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora Titles';
  src: url('fonts/SFFedoraTitles.eot');
  src: local('SF Fedora Titles'), local('SFFedoraTitles'),
      url('fonts/SFFedoraTitles.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraTitles.woff2') format('woff2'),
      url('fonts/SFFedoraTitles.woff') format('woff'),
      url('fonts/SFFedoraTitles.ttf') format('truetype'),
      url('fonts/SFFedoraTitles.svg#SFFedoraTitles') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora Outline';
  src: url('fonts/SFFedoraOutline.eot');
  src: local('SF Fedora Outline'), local('SFFedoraOutline'),
      url('fonts/SFFedoraOutline.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedoraOutline.woff2') format('woff2'),
      url('fonts/SFFedoraOutline.woff') format('woff'),
      url('fonts/SFFedoraOutline.ttf') format('truetype'),
      url('fonts/SFFedoraOutline.svg#SFFedoraOutline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora';
  src: url('fonts/SFFedora.eot');
  src: local('SF Fedora'), local('SFFedora'),
      url('fonts/SFFedora.eot?#iefix') format('embedded-opentype'),
      url('fonts/SFFedora.woff2') format('woff2'),
      url('fonts/SFFedora.woff') format('woff'),
      url('fonts/SFFedora.ttf') format('truetype'),
      url('fonts/SFFedora.svg#SFFedora') format('svg');
  font-weight: normal;
  font-style: normal;
}



* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 45px;
}
  
body {
  font-family: 'Special Elite', cursive;
  text-align: center;
  background: url('images/brown_leather_texture_by_maxdaten_d1pv2ff.png');
}

h1 {
  font-family: 'SF Fedora';
  background: linear-gradient(to bottom, #c73926, #e2e54f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
}

h2 {
  font-size: 18.72px;
}

fieldset {
  text-align: left;
  border: 0;
  display: inline;
  margin: auto;
}  

li {
  list-style: none;
  display: inline;
}

input {
  cursor: pointer;
}

input[type='radio']:checked:after {
  background-color: #8f7143;
  content: '';
  visibility: visible;
}

label {
  margin-left: 5px;
  line-height: 1.5;
}

label:hover {
  cursor: pointer;
}

button {
  width: auto;
  padding: 20px;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  text-shadow: 0px 1px 1px #808080;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  outline: none;
  /* border: 1px solid rgba(0,0,0,0.1); */
  border: 2px solid #bb8f4c;
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
    border-radius: 5px;
}

button:hover {
  border: 2px solid #8f7143;
}

img {
  display: block;
  margin: auto;
}

#quiz-content {
  background: url('images/paper-1074136_1280.jpg');
  /* width: 100%; */
  height: auto;
  margin: 0 20px 0 20px;
  padding: 15px;
  overflow: hidden;
  outline: none;
  /* border: 1px solid rgba(0,0,0,0.1); */
  border: 2px solid #bb8f4c;
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3),
    0 1px 1px rgba(255,255,255,0.9);
    border-radius: 5px;
}

#opener {
  font-family: 'SF Fedora Titles';
  font-size: 1.3em;
  margin-bottom: 15px;
}

#idol {
  margin-bottom: 20px;
}

#tracker {
  padding: 20px;
}

#tracker-section {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px; 
}

#question-text, .question-div, #answer-result, #final-comment {
  margin-bottom: 15px;
}

#answer-comment, #final-feedback {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3em;
}

#next-question, #see-results {
  margin-top: 15px;
}

#question-page, #tracker, #feedback-section, #see-results, #end-result-section {
  display: none;
}

@media screen and (max-width: 320px) {
  h1 {
  font-family: 'SF Fedora';
  background: linear-gradient(to bottom, #c73926, #e2e54f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4em;
  }

  .question-div {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  #answer-comment {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.1em;
  }

  #next-question, #see-results {
    margin-top: 10px;
    margin-bottom:10px;
  }
}

@media screen and (min-width: 600px) {
  #quiz-content {
    background: url('images/paper-1074136_1280.jpg');
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-family: 'SF Fedora';
    background: linear-gradient(to bottom, #c73926, #e2e54f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
  }

  h2 {
    font-size: 24px;
  }
}

